#services {
    display: flex;
    flex-flow: column wrap;
    gap: 30px;
    align-items: center;
}
#services > .title {
    color: #6CCEEE;
}
#services > .description {
    width: min(90vw, 600px);
    text-align: center;
}

.services-container {
    display: flex;
    flex-flow: row wrap ;
    gap: 20px;
    justify-content: center;
}
.services-container .service-card {
    width: min(350px , 90vw);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-shadow: -1px 1px 2px #ededed;
}
.service-card h3 {
    color: #F4CC83;
}