.footer-container {
    background-color: black;
    padding-bottom: 80px;
}
.footer{
    display: flex;  
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}
.footer-card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
    padding: 20px;
    border-radius: 10px;
}
.footer-card  > h3 {
    color: #6CCEED;
}
.contact-number {
    color: #0078D7;
    font-size: 14px;
}
.address {
    padding: 5px 0;
}
.address a {
    color: #0078D7;
    text-decoration: underline;
}
.address > p{
    font-size: 14px;
}
.footer-card .flag {
    width: 30px;
    height: 30px;
}