nav{
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    background-color: #051C2B;
    justify-content: center;
    padding: 15px;
    z-index: 10;
    gap: 20px;
    box-shadow: 2px 2px 4px gray;
}
nav > .logo {
    width: 60px;
    height: 60px;
}

.nav-link{
    color: rgb(218, 217, 217) ;
    padding: 0.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
}

nav a:active  , nav a:hover ,.active-nav {
    color: white ;
    font-weight: 600;
}

@media (max-width: 500px) {
    nav {
        font-size: 12px;
    }
}